.temperature {
    font-size: 24px;
  }
  
  .wi {
    font-size: 48px; 
  }
  
  .weather {
   background-color: #2c2c2e;
   padding: 1rem;
  }
  
  .wi-day-sunny,
  .wi-day-cloudy {
    color: #f4d942;
  }
  
  .wi-night-clear,
  .wi-night-alt-cloudy {
    color: #3d6cb9;
  }
  
  .wi-cloudy,
  .wi-cloud,
  .wi-day-cloudy-high,
  .wi-night-alt-cloudy-high {
    color: #9da9b1;
  }
  
  .wi-rain,
  .wi-sprinkle,
  .wi-showers,
  .wi-day-showers,
  .wi-night-alt-showers {
    color: #51a0ed;
  }
  
  .wi-thunderstorm,
  .wi-storm-showers,
  .wi-snow-thunderstorm {
    color: #ff6b61;
  }
  
  .wi-sleet,
  .wi-sleet-storm,
  .wi-day-sleet-storm,
  .wi-night-alt-sleet-storm {
    color: #7b93db;
  }
  
  .wi-snow,
  .wi-day-snow,
  .wi-night-alt-snow {
    color: #a2e2ff;
  }
  
  .wi-fog {
    color: #a4aab3;
  }
  
  .wi-na {
    color: #cfd3d7;
  }


  .weather-item i {
    padding-left: 0.5rem;
  }